@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-image: linear-gradient(to right, #57FACD, #06BCD6,  #134AED, #5706D6, #1e014d);
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(19, 73, 237, 0.651); 
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
    color: #3D06D6;
    text-align: center;
    text-shadow: 1px 1px 2px #3d06d679;
}
h2{
    color: #134AED;
}
p{
    text-align: justify;
}